.App {
    @apply flex h-screen justify-center items-center
}

body {
    background: linear-gradient(-45deg, hsl(var(--p)), hsl(var(--pf)), hsl(var(--sf)), hsl(var(--s)));
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.mockup-window {
    @apply bg-neutral shadow-2xl
}

.input-error {
    --tw-bg-opacity: 0.2;
    background-color: hsl(var(--er) / var(--tw-bg-opacity));
}

input {
    @apply text-center input input-bordered hover:scale-105 focus:scale-105 ease-out duration-75 w-full
}

select {
    text-align-last: center;
    @apply select select-bordered hover:scale-105 focus:scale-105 ease-out duration-75
}

.select {
    font-size: inherit;
    font-weight: inherit;
}