body {
    background: linear-gradient(-45deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    background-size: 200% 200%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

input {
    caret-color: transparent;
    @apply text-center input input-bordered hover:scale-105 focus:scale-105 ease-out duration-75
}

.mockup-window {
    @apply bg-white bg-opacity-30 backdrop-blur-md drop-shadow-lg shadow-2xl transition-opacity duration-700 opacity-100
}

select {
    text-align-last: center;
    @apply select select-bordered hover:scale-105 focus:scale-105 ease-out duration-75
}

.select {
    font-size: inherit;
    font-weight: inherit;
}